body {
	font-size: 1em;
	line-height: 1.5em;
	margin: 2em auto;
	max-width: 35em;
}

nav a {
	display: inline-block;
	text-align: center;
	width: 32%;
	color: black;
}

footer {
	text-align: center;
}



.note {
	font-style: italic;
}
