<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <!-- navigation section -->

    <!-- content section -->
    {{ content }}
    <!-- footer section -->
    <footer>
      <p>
        <em>
          © 2019 Daan
        </em>
      </p>
    </footer>
  </body>
</html>
